@page "/publishers"
@using Bookstore.Core.Models;

<style>
    .button-right {
        margin-right: auto;
        margin-left: 20px;
    }
</style>

@if (_isLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items="@_publishers" Hover="true" Bordered="false" Dense="false" Breakpoint="Breakpoint.Xs">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Publishers</MudText>
            <MudSpacer />
            <MudTextField 
                @bind-Value="_publishersNameFilter" 
                Placeholder="Search name..."
                Adornment="Adornment.Start" 
                AdornmentIcon="@Icons.Material.Filled.Search" 
                IconSize="Size.Medium" 
                Class="mt-0"
                OnKeyDown="FilterPublishers"
                Immediate="true"
            />
            <MudButton
                Variant="Variant.Outlined"
                EndIcon="@Icons.Outlined.Add"
                Color="Color.Info"
                Size="Size.Medium"
                Class="button-right"
                OnClick="OpenAddDialog"
            >
                <span class="button-text">Add</span>
            </MudButton>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Nr</MudTh>
            <MudTh>
                <MudTableSortLabel 
                    InitialDirection="SortDirection.Ascending"
                    SortBy="new Func<Publisher, object>(p => p.Name)">
                        Name
                    </MudTableSortLabel>
            </MudTh>        
         </HeaderContent>
        <RowTemplate>
            <MudTd>@GetRowNumber(context)</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
        </RowTemplate>
    </MudTable>
}
